section.pdm.image-blocks {
    .container {
        .blocks {
            text-align: center;
            margin: 3em 0;
            
            figure {
                margin: 0 auto;
                img {
                    width: 100%;
                    height: 100%;
                }
            }

            .block {
                text-align: center;

                p.title {
                    color: $blue;
                    font-size: 1em;
                    text-align: center;
                }

                .content {
                    padding-bottom: 1em;
                    .btn{
                        background: $blue;
                        padding: 0.5em 1.5em;
                    }
                }
            }

            @media screen and (min-width: 960px) {
                display: flex;
                justify-content: space-between;

                .block {
                    width: calc(25%);
                    display: flex;
                    flex-direction: column;
                    padding: 1.5em;
                    

                    .content {
                        margin-top: auto;
                    }

                }
            }
        }
    }
}